div(id='page-header')
  nav(class='navbar navbar-default navbar-fixed-top')
    div(class='col-md-3 hidden-md-down')
      img(class='logo', src='/images/logo.svg')

    div(class='col-md-6 hidden-md-down note')
      div(class="dropdown")
        button(class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown") &nbsp; Country
        span(class="caret")
        ul(class="dropdown-menu")
          li: a(href="", title="India") IN